
.navbar{
  position: absolute;
  top: 0px;
}
.nav-item{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Quicksand";


}

#home_id,#lg,#plan_id,#lm,#ab#fra,#ab,#contact_id,#fra{
    color:rgb(255, 255, 255);
}


.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;

    background-color: #a9b33b;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;

}
.deal{
width: 150px;
height: 40px;
background-color: #aab33c;
text-transform: uppercase;
font-weight: 700;
font-family: "Quicksand";
color:white;
margin-left: 10px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#subtitle{


        font-size: 30px;
        padding-top:30px;
        padding-bottom:30px;
        text-transform: uppercase;
        color: #5c5c5c;
        font-weight: 700;
        font-family: "Quicksand";
        text-align: center;


}
 #pre {
    color: white;
    font-size: larger;
    font-weight: 1000;
    font-family: "Quicksand";
    position: absolute;
    top: 300px;
    left: 260px;
  }
  .h1{
    position: absolute;
    top:250px ;
    left: 265px;
  }
  #button{
    position: absolute;
    top: 370px;
    left:268px ;
    background-color: #aab33c;
  } 
  #h1{
    
    font-size: 30px;
   
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
  }
  body{
    overflow-x: hidden;
  }
 
 /* .card{
   
    
    background-color: #eaf0ae;

  }
 .pic{
  padding: 50px;
 }
 .card-text{
  font-size: 18px;
line-height: 25px;
color: #404142;
font-weight: 700;
font-family: "Quicksand";
 }*/
 
    /*css for cards image and text*/
    .card img {
      width: 50%;
      height: 50%;

    }

    #cardtext {
      color: #404142;
      font-weight: 700;
      font-family: "Quicksand";
      text-align: center;
    }

   
    .card {
      border-radius:10px;
      box-shadow: 10px 10px 25px rgb(185, 185, 185);
      color: #030303;
      font-family: "Quicksand";
    }
    .card::after{
      content: '';
      inset: 0;
      position: absolute;
      opacity: 0.3;
      background-color: #d9e271;
    }
    



